.place__website-link {	
    transition: opacity 0.3s linear;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 12px;
  }
  
  .place__website-link:hover {
    opacity: .8;
  }
