@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  padding-top: 92px;
  margin-left: 148px;
  width: 53.90625vw;
}

@media (max-width : 1279px) {
    .intro {
        width: 67.3828125vw;
        margin-left: 48px;
      }
  }
@media (max-width : 1023px) {
    .intro {
        padding-top: 88px;
        width: 93.75vw;
        margin-left: 24px;
      }
  }
@media (max-width : 767px) {
    .intro {
        padding-top: 64px;
        width: 90vw;
        margin-left: 16px;
  }
}