@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);

.cover {
  padding-top: 92px;
  width: 92.5%;
  max-height: 740px;
  height:calc(100vw*0.578125);
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/__background1280.png);
  background-origin: content-box;
}

@media (max-width : 1279px) {
  .cover {
    width: 100%;
    height:calc(100vw*0.625);
  }
  }

@media (max-width : 1023px) {
  .cover {
    padding-top: 88px;
  }
}

@media (max-width : 767px) {
  .cover {
  padding-top: 64px;
  }
} 